body {
    background-color: #ffffff;
    color: #64CCC5;
    font-family: "LiLy Script One", sans-serif;

}

.navbar {
    height: 25vh;
    width: 100%;
    background-color: white;
    margin-top: -90px;
    margin-bottom: 80px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 40px;
    padding-left: 10%;
    padding-right: 10%;

}

nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 10px 20px;

}

nav ul li a {
    color: #64CCC5;
    text-decoration: none;
    font-weight: bold;

}

nav ul li a:hover {
    color: #176B87;
    transition: 0.3s;
}

.active {
    color: #176B87;

}

.active:hover {
    color: #64CCC5;
}

.firstcontainer {
    background: url(images/wall.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
    height: 600px;
    width: 100%;
    margin-top: 80px;
    margin-bottom: 80px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 15px;
    border-top-left-radius: 15px;
}

.main {
    background: url(images/wall.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
    height: 800px;
    width: 100%;
    margin-top: 80px;
    margin-bottom: 80px;
    border-radius: 15px;
}

.item {
    background: url(images/lady%20jessica%20.jpg)no-repeat;
    background-position: center;
    background-size: 1050px 560px;
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(20px);
    border-radius: 15px;
    width: 90%;
    height: 600px;
    margin-left: 60px;
    font-family: "andalus";

}

.info {
    padding-left: 50px;
    padding-right: 600px;
    padding-top: 30px;
    font-weight: bold;
}

.line {
    margin-left: 50px;
    font-weight: bold;
}

.item hr {
    margin-left: 40px;
    margin-right: 600px;

}

.play {
    opacity: 1;
    width: 100px;
    padding: 5px;
    border-radius: 25px;
    border-style: none;
    font-family: "andalus";
    font-weight: bolder;
    font-size: 15px;
    margin-left: 60px;
    margin-top: 10px;

}

.play a {
    text-decoration: none;
    color: #176B87;
}

.play:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.box {
    width: 200px;
    height: 400px;
    margin-top: 30px;
    margin-left: 22px;
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 15px;
    backdrop-filter: blur(20px);

}

.A {

    position: absolute;
    left: 35px;


}

.B {

    position: absolute;
    left: 265px;

}

.C {

    position: absolute;
    left: 495px;

}

.D {

    position: absolute;
    left: 725px;

}

.E {

    position: absolute;
    left: 955px;

}

.x {
    font-size: 500%;


}

img {
    width: 180px;
    height: 250px;
    border-radius: 0px;
}

table {
    margin-top: 10px;
    margin-left: 6px;
    text-align: center;

}

button {
    width: 100px;
    padding: 5px;
    border-radius: 25px;
    border-style: none;
    opacity: 0.6;
    font-family: "LiLy Script One";
    font-weight: bold;
    font-size: 15px;

}

.ok {
    opacity: 1;

}

.ok:hover {
    transform: scale(1.2);
    cursor: pointer;
}

.ok a {
    text-decoration: none;
    color: #176B87;
}

/* the movies part*/

.container {
    background: url(images/wall.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 600px;
    margin-top: 50px;
    margin-bottom: 80px;
    border-radius: 25px;
    color: white;

}
.G {
    padding-top: 50px;
    text-align: left;
    padding-left: 50px;
    font-size: 250%;
}
.pagination {
    text-align: center;
    margin-top: -50px;
}
.pagination a {
    display: inline-block;
    padding: 5px 10px;
    text-decoration: none;
    color: #176B87;
    font-size: bold;
}
.pagination a.active {
    background-color: #64CCC5;
    border-radius: 5px;
}
.pagination a:hover:not(active) {
    background-color: darkgrey;
    border-radius: 5px;
}

/* movie detail part*/
.a {

    background: url(images/jk2.jpg)no-repeat;
    background-position: center;
    background-size: 1050px 560px;
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(20px);
    border-radius: 15px;
    width: 90%;
    height: 600px;
    margin-left: 60px;
    font-family: "andalus";
}

.b {
    background: url(images/Parasite_LE_auto_x2.jpg)no-repeat;
    background-position: center;
    background-size: 1050px 560px;
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(20px);
    border-radius: 15px;
    width: 90%;
    height: 600px;
    margin-left: 60px;
    font-family: "andalus";
}

.c {
    background: url(images/smile%20the%20movie.jpg)no-repeat;
    background-position: center;
    background-size: 1050px 560px;
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(20px);
    border-radius: 15px;
    width: 90%;
    height: 600px;
    margin-left: 60px;
    font-family: "andalus";
}

.c .info {
    padding-top: 0px;
}

.d {
    background: url(images/jum.jpg)no-repeat;
    background-position: center;
    background-size: 1050px 560px;
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(20px);
    border-radius: 15px;
    width: 90%;
    height: 600px;
    margin-left: 60px;
    font-family: "andalus";
}

.e {
    background: url(images/the%20gray%20man%202022.jpg)no-repeat;
    background-position: center;
    background-size: 1050px 560px;
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(20px);
    border-radius: 15px;
    width: 90%;
    height: 600px;
    margin-left: 60px;
    font-family: "andalus";
}

.f {
    background: url(images/enola2.jpg)no-repeat;
    background-position: center;
    background-size: 1050px 560px;
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(20px);
    border-radius: 15px;
    width: 90%;
    height: 600px;
    margin-left: 60px;
    font-family: "andalus";
}

.g {
    background: url(images/strange.jpg)no-repeat;
    background-position: center;
    background-size: 1050px 560px;
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(20px);
    border-radius: 15px;
    width: 90%;
    height: 600px;
    margin-left: 60px;
    font-family: "andalus";
}

.g .info {
    padding-top: 0px;
}

.g h1 {
    padding-top: 5px;
}

.h {
    background: url(images/Elemental%20.jpg)no-repeat;
    background-position: center;
    background-size: 1050px 560px;
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(20px);
    border-radius: 15px;
    width: 90%;
    height: 600px;
    margin-left: 60px;
    font-family: "andalus";
}

/* the browser page*/
.root {
    color: white;
    margin-top: -90px;
}

.activ {
    color: white;
}

.activ:hover {
    color: #64CCC5;
}

.browse {
    width: 100%;
    height: 600px;
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(20px);
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

iframe {
    border-radius: 40px;
}

.foot {
    position: sticky;
    bottom: 0;
    text-align: center;
    color: white;
    background-color: #176B87;
    padding: 8px auto 8px auto;
    margin: auto -8px -15px -8px;
}

/*the sign in part*/
.sign {
    color: white;
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(20px);
    border-radius: 40px;
    font-family: "andalus";
    margin-left: 20%;
    margin-right: 20%;
    padding: 5% 10% 5% 10%;
}

.sign h1 {
    font-size: 36px;
    text-align: center;
}

.input-box {
    position: relative;
    padding: 10px 20px 10px 20px;
    width: 100%;
    height: 100%;
    color: white;
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(20px);
    border-radius: 40px;
    font-family: "andalus";
    margin: 20px 0;

}

.input-box input {
    outline: none;
    border: none;
    background-color: transparent;
    color: white;
    font-size: 15px;
}

.input-box input:placeholder-shown {
    background-color: transparent;
    color: white;
    border: none;
    outline: none;
    font-size: 15px;
    font-weight: bold;
}

i {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
}

.remember-forget {
    display: flex;
    justify-content: space-between;

}

.remember-forget a {
    text-decoration: none;
    color: white;
}

.remember-forget a:hover {
    text-decoration: underline;
}

.btn {
    width: 100%;
    margin-top: 20px;
    font-family: "andalus";
    margin-left: 15px;
    font-weight: bold;
    background-color: white;
    color: #176B87;
}

.btn:active {

    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.login {
    text-decoration: none;
    font-weight: 600;
    color: white;
}

.sign p {
    margin-left: 150px;
}

/* about us */
.about {
    text-align: center;
    color: white;
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(20px);
    border-radius: 50px;
    font-family: "andalus";
    padding: 5% 20% 5% 20%;
    margin: auto 80px 25px 80px;
    font-size: 18px;
}
